* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px
  }

body{
    color: #686868;
    font-size: 15px;
    background-color: #6B7283;
    }

/*
header{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid blue;
    padding: 10px 0px;
    background-color: #246;
    min-height: 130px;
}

footer{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
    border-top: 1px solid white;
    padding: 10px;
    background-color: #246;
    color: white;
}
*/

hr {
    margin-top: 30px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
    /* font-weight: 300; */
    color: #AFF;
}

h1 {
    font-size: 36px;
    padding: 0px;
}

h2 {
    font-size: 36px;
    margin: 0px;
}
h3 {
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
}

h4 {
    font-size: 1.5rem;
}
/*p {
    color: #DFF;
}*/

/* .searchBtn {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #BE757E;
    border: 0;
    color: #D8D8DD;
    height: 37px;
    line-height: 37px;
    width: 100%;
    text-align: center;
    cursor: pointer;
} */

.mapInfoWindow{
    color: black;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.clear{
    clear: both;
}

/* .container-fluid{
    min-width: 400px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 00px;
    margin: 20px auto;
    background-color: #DDD;
} */

#map-container{
    height: 100%;
    /* height: 600px;
    width: 100%; */
}

#control{
    float: left;
    background-color: #6B7283;
    width: 30%;
    padding: 5px 30px 10px 30px;
    border-right: 1px solid black;
    /* min-height: 480px; */
}

#spacer{
    min-height: 65px;
}

#search-by-name{
    width: 80%;
}

#logo{
    margin: 0px;
    padding: 0px;
}

#search-criteria {
    color: orange;
}

.gm-style-iw h1 {
  color: black;
  padding-bottom: 20px;
}

#search-clear{
    display: none;
}