* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px
  }

body{
    color: #686868;
    font-size: 15px;
    background-color: #6B7283;
    }

/*
header{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid blue;
    padding: 10px 0px;
    background-color: #246;
    min-height: 130px;
}

footer{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
    border-top: 1px solid white;
    padding: 10px;
    background-color: #246;
    color: white;
}
*/

hr {
    margin-top: 30px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
    /* font-weight: 300; */
    color: #AFF;
}

h1 {
    font-size: 36px;
    padding: 0px;
}

h2 {
    font-size: 36px;
    margin: 0px;
}
h3 {
    font-size: 2rem;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

h4 {
    font-size: 1.5rem;
}

:-webkit-autofill,
:-webkit-autofill:hover, 
:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
  transition: background-color 5000s ease-in-out 0s;
}

.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.even-row {
    color: blue;
    background-color: #CDE;
    margin: 1px 0px;
    padding: 0px 10px;
}
.odd-row {
    color:black;
    background-color: #DEF;
    padding: 0px 10px;
}


/*p {
    color: #DFF;
}*/

/* .searchBtn {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #BE757E;
    border: 0;
    color: #D8D8DD;
    height: 37px;
    line-height: 37px;
    width: 100%;
    text-align: center;
    cursor: pointer;
} */

.mapInfoWindow{
    color: black;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.clear{
    clear: both;
}

/* .container-fluid{
    min-width: 400px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 00px;
    margin: 20px auto;
    background-color: #DDD;
} */

#map-container{
    height: 100%;
    /* height: 600px;
    width: 100%; */
}

#control{
    float: left;
    background-color: #6B7283;
    width: 30%;
    min-width: 420px;
    padding: 5px 30px 10px 30px;
    border-right: 1px solid black;
    /* min-height: 480px; */
      color: #AFF;
}

#spacer{
    min-height: 30px;
}

#search-by-name-div {
    padding-right: 0;
}

#search-by-name {
    width: auto;
}

#search-by-name-btn  {
    padding-left: 3px;
}

#logo{
    color: #CB4154;
    margin: 0px;
    padding: 0px;
}

#search-criteria {
    color: orange;
}

.gm-style-iw h1 {
  color: black;
  padding-bottom: 20px;
}

#search-clear{
    display: none;
}

#search-by-city-btn {
  width: 98%;
}

.row {
  padding-top: 10px;
}

#dynamic-city-list {
  color: black;
}

#search-results{
    margin: 25px 0px;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;    
}

